@font-face {
    font-family: open-sans;
    src: url("../font/opensans.ttf");
}

@font-face {
    font-family: open-sans-bold;
    src: url("../font/opensansbold.ttf");
}

@font-face {
    font-family: open-sans-extra-bold;
    src: url("../font/opensansextrabold.ttf");
}

:root {
    --primary-color: #ff6200;
    --secondary-color: #ffb788;
    --on-primary-color: #ffffff;
    --on-secondary-color: #ffffff;
    --textbox-color: #ffffff;
    --on-textbox-color: #ff6200;
    --tertiary: #ffffffff;
    --tertiary-transparent: #ffffff88;
}


* {
    overflow: hidden;
    box-sizing: border-box;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    transition: 0s;
    position: relative;
    z-index: 1;
    scrollbar-color: var(--primary-color) transparent;
    scrollbar-width: thin;
    outline: 0px solid transparent;
    border-radius: 5px;
}

body {
    background-color: transparent;
    color: black;
    width: auto;
    height: auto;
    font-family: open-sans, sans-serif;
    margin: 0px;
    padding: 0px;
}

#popup-content {
    width: 300px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    position: relative;
    background-color: #cccccc33;
    color: inherit;
}

#tabs-section {
    padding: 5px;
    padding-bottom: 0px;
    background-color: transparent;
    overflow: visible;
}

#tabs-section > .tab, .button {
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    opacity: 0.5;
    width: 34%;
    box-sizing: border-box;
    display: inline-block;
}

#tabs-section > .tab, #version {
    border-radius: 0px;
}

.select-box {
    padding: 5px;
    color: var(--primary-color);
    box-sizing: border-box;
    font-size: 14px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: auto;
    font-family: open-sans, sans-serif;
    background-color: var(--on-primary-color);
    transition: 0.5s;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

    background-image: url("../img/tag.svg"), url("../img/arrow-select.svg");
    opacity: 0.8;
}

.select-box:hover {
    opacity: 1;
}

.clear-button, .clear2-button, .refresh-button, .import-button, .copy-button, .export-button, .tag-button, .save-button, .sort-by-button, .filter-button, .translate-button, .settings-button, .donate-button, .github-button, .telegram-button, .email-button, .firefox-button, .sort-by-button {
    padding-left: 35px;
    padding-right: 10px;
    background-image: url("../img/delete.svg");
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: var(--on-primary-color);
    margin: 2px;
    border: 0px solid var(--primary-color);
}

.button-trigger-sticky {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 30px !important;
    height: 30px !important;
    background-image: url("../img/sticky-open.svg");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ff6200;
    color: #ffffff;
    margin: 2px;
    z-index: 5;
    border-radius: 5px;
}

.save-button {
    background-image: url("../img/save.svg");
}

.clear2-button {
    background-image: url("../img/delete2.svg");
}

.refresh-button {
    background-image: url("../img/refresh.svg");
}

.import-button {
    background-image: url("../img/import.svg");
}

.export-button {
    background-image: url("../img/export.svg");
}

.copy-button {
    background-image: url("../img/copy.svg");
    cursor: copy;
}

.tag-button {
    background-image: url("../img/tag.svg");
}

.sort-by-button {
    background-image: url("../img/sort-by.svg");
}

.filter-button {
    background-image: url("../img/filter.svg");
}

.translate-button {
    background-image: url("../img/globe.svg");
}

.settings-button {
    background-image: url("../img/settings.svg");
}

.donate-button {
    background-image: url("../img/donate.svg");
}

.github-button {
    background-image: url("../img/github.svg");
}

.telegram-button {
    background-image: url("../img/telegram.svg");
}

.email-button {
    background-image: url("../img/email.svg");
}

.firefox-button {
    background-image: url("../img/firefox.svg");
}

#tag-colour-section {
    border-radius: 0px;
}

.button {
    width: auto;
}

#tabs-section > .tab:first-child {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 33%;
}

#tabs-section > .tab:last-child {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 33%;
}

#tabs-section > .tab:hover {
    /*background-color: #dddddd;*/
    opacity: 0.9;
}

#tabs-section > .tab:active, #tabs-section > .tab:focus, .button:active, .button:focus, textarea:focus, textarea:active, .div-textnotes-container:active, .div-textnotes-container:hover, .textbox:focus, .textbox:active {
    box-shadow: 0px 0px 0px 2px var(--primary-color), 0px 0px 0px 5px var(--secondary-color);
    border-radius: 5px;
    z-index: 2;
    transition: 0.5s;
}

#tabs-section > .tab:active, #tabs-section > .tab:focus {
    border-radius: 0px;
}

#notes-section > #notes:focus {
    box-shadow: 0px 0px 0px 3px var(--on-textbox-color);
}

#tabs-section > .tab-sel, .button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--on-primary-color);
    opacity: 1;
}

#tabs-section > .tab-sel:hover, .button:hover {
    /*background-color: var(--primary-color);*/
    /*border-color: var(--primary-color);*/
    opacity: 1;
}


#all-notes-button {
    width: 100%;
}

#notes-section, #all-notes-section {
    padding: 5px;
    background-color: transparent;
}

#notes-section > #notes, textarea, .textbox, .div-textnotes-container {
    width: 100%;
    height: 300px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--textbox-color);
    color: var(--on-textbox-color);
    resize: none;
    margin: 0px;
    padding: 5px;
    font-size: 14px;
    overflow: scroll;
    word-wrap: normal;
    box-shadow: 0px 0px 0px 1px var(--on-textbox-color);
}

textarea::placeholder, .textbox::placeholder, pre::placeholder {
    color: var(--on-textbox-color);
}


.textbox {
    width: auto;
    height: auto;
    border: 0px solid var(--on-primary-color);
    box-shadow: 0px 0px 0px 1px var(--primary-color);
}

#search-all-notes-text {
    width: 30%;
    min-width: 200px;
    margin: 3px;
    background-color: var(--textbox-color);
    color: var(--on-textbox-color);
    opacity: 0.8;
}

#search-all-notes-text:focus {
    opacity: 1;
}

#last-updated-section {
    padding: 5px;
    padding-top: 0px;
    background-color: transparent;
}

#all-notes-dedication-section, #settings-dedication-section {
    background-color: #cccccc33;
    padding: 5px;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    overflow: auto;
    box-shadow: 0px 0px 5px var(--primary-color);
}

@media screen and (max-width: 2000px) {
    #all-notes-dedication-section, #settings-dedication-section {
        width: 80%;
    }
}

@media screen and (max-width: 1500px) {
    #all-notes-dedication-section, #settings-dedication-section {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    #all-notes-dedication-section, #settings-dedication-section {
        width: 100%;
    }
}

.settings-section-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: inherit;
}

.settings-section-grid-column {

}

.section, .sub-section, .section-empty {
    background-color: var(--tertiary-transparent);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    opacity: 1;
}

#import-sub-sections, #export-sub-sections {
    background-color: var(--tertiary);
}

.section-warning {
    background-color: #cb0000;
    color: #eeeeee;
    font-weight: bold;
    padding: 5px 10px;
}

.detailed-option {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

.url-small {
    font-style: italic;
    text-decoration: underline;
    font-size: inherit;
}

.section-empty {
    padding: 50px;
    text-align: center;
    color: var(--primary-color);
}

.sticky-section {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 4;
}

.sub-section {
    background-color: #d0d0d022;
    padding: 10px;
    box-shadow: inset 0px 0px 0px 1px var(--primary-color);
}

.sub-section:nth-child(even) {
    background-color: #d0d0d022;
}

.background-light-red:nth-child(even) {
    background-color: #ff8e8e77;
}

.sub-section-type, .sub-section-title {
    background-color: var(--on-primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    font-family: open-sans;
    font-size: 10px;
    min-width: 50px;
    display: inline-block;
    text-align: center;
    height: 25px;
}

.sub-section-notes {
    margin-top: 10px;
    opacity: 1;
    /*
    padding: 10px;
    background-color: #e5e5e5;
    */
}

.sub-section-notes:hover, .div-textnotes-container:hover {
    opacity: 1;
    box-shadow: inset 0px 0px 0px 3px var(--primary-color);
}

.sub-section-last-update {
    padding: 5px;
    font-size: 12px;
    font-style: italic;
    color: var(--primary-color);
}

#background-opacity {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: 0.5s;
    display: none;
    z-index: 100;
    border-radius: 0px;
}

#import-section, #export-section {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

.rows {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px solid transparent;
    border-radius: 0px;
    margin-bottom: 2px;
    overflow: visible;
}

#text-import {
    overflow: visible;
}

.background-transparent {
    background-color: transparent;
}

.button-code {
    background-color: rgba(255, 87, 87, 0.27);
    border-radius: 5px;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
}

.small-button {
    font-size: 12px;
    height: 27px;
}

.very-small-button {
    font-size: 10px;
    height: 25px;
}

h1, h2, h3 {
    color: var(--primary-color);
    font-size: 30px;
    font-family: open-sans-bold;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    display: inline-block;
}

h2 {
    color: var(--primary-color);
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    font-family: open-sans;
    height: 35px;
}

h3 {
    color: var(--primary-color);
    font-size: 14px;
    padding: 3px;
    font-family: open-sans;
    height: 25px;
}

.go-to-external {
    transition: 0.5s;
    cursor: alias !important;
}

.go-to-external:hover::after {
    content: url('../img/open-external.svg');
    margin-left: 5px;
}

.section-selected {
    background-color: var(--on-primary-color);
    opacity: 1;
}

.section-domain {
    margin-bottom: 30px;
}

.sub-section-domain {
    margin: 10px 5px !important;
    border: 0px solid var(--primary-color) !important;
}

.sub-section-domain:hover {
    box-shadow: 0px 0px 0px 3px var(--primary-color);
}

b {
    font-size: inherit;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.bold, strong {
    font-family: open-sans-bold;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-right-5-px {
    margin-right: 5px;
}

.margin-left-5-px {
    margin-left: 5px;
}

.margin-top-5-px {
    margin-top: 5px;
}

.div-textnotes-container {
    border: 1px solid var(--primary-color);
    resize: vertical;
    min-height: 200px;
    height: 200px;
    overflow: scroll;
}

.textarea-all-notes {
    background-color: transparent;
    width: auto;
    height: auto;
    resize: none;
    border: 0px solid transparent;
    padding: 0px !important;
    margin: 0px !important;
}

#notes b, .textarea-all-notes b {
    font-family: open-sans-bold, serif !important;
}

#notes, .textarea-all-notes {
    font-size: 14px !important;
    cursor: text;
}

#notes {
    padding-bottom: 30px !important;
}

#notes *, .textarea-all-notes * {
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}

.textarea-all-notes {
    cursor: default;
}

.tag-colour-left {
    border: 0px solid transparent !important;
    border-left-width: 15px !important;
}

.tag-colour-top {
    border: 0px solid transparent !important;
    border-top-width: 10px !important;
}

.filter-button-tag, .filter-button-type {
    margin: 2px;
}

.button-sel {
    background-color: var(--on-primary-color);
    color: var(--primary-color);
}

.tag-colour-none {
    border: none !important;
}


.background-light-red {
    background-color: #ff8e8e99 !important;
}

.tag-colour-none-bg {
    /*background-color: transparent !important;*/
}

.tag-colour-red {
    border-color: red !important;
}

.tag-colour-red-bg {
    background-color: red !important;
}

.tag-colour-yellow {
    border-color: yellow !important;
}

.tag-colour-yellow-bg {
    background-color: yellow !important;
}

.tag-colour-green {
    border-color: green !important;
}

.tag-colour-green-bg {
    background-color: green !important;
}

.tag-colour-gray {
    border-color: gray !important;
}

.tag-colour-gray-bg {
    background-color: gray !important;
}

.tag-colour-purple {
    border-color: purple !important;
}

.tag-colour-purple-bg {
    background-color: purple !important;
}

.tag-colour-pink {
    border-color: pink !important;
}

.tag-colour-pink-bg {
    background-color: pink !important;
}

.tag-colour-black {
    border-color: black !important;
}

.tag-colour-black-bg {
    background-color: black !important;
}

.tag-colour-white {
    border-color: white !important;
}

.tag-colour-white-bg {
    background-color: white !important;
}

.tag-colour-orange {
    border-color: orange !important;
}

.tag-colour-orange-bg {
    background-color: orange !important;
}

.tag-colour-blue {
    border-color: blue !important;
}

.tag-colour-blue-bg {
    background-color: blue !important;
}

.padding-25px-lateral {
    padding-left: 25px;
    padding-right: 25px;
}

.hidden {
    display: none !important;
}

#format-buttons {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 5;
}

button.button-format {
    width: 30px !important;
    height: 30px !important;
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0px solid transparent;
    cursor: pointer;
    margin: 2px;
    background-color: #ff6200;
    color: #ffffff;
    border-radius: 5px;
}

button.button-format:hover {
    background-color: #eeeeee;
}

button.button-format:active {
    background-color: var(--secondary-color);
}