@font-face {
    font-family: open-sans;
    src: url("../font/opensans.ttf");
}

@font-face {
    font-family: open-sans-bold;
    src: url("../font/opensansbold.ttf");
}

* {
    overflow: hidden;
    box-sizing: border-box;
    font-family: open-sans;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    scrollbar-color: #ff5757 transparent;
    scrollbar-width: thin;
    outline: 0px solid transparent;
    border-radius: 5px;
}

body {
    background-color: transparent;
    color: black;
    width: auto;
    height: auto;
    font-family: open-sans, sans-serif;
    margin: 0px;
    padding: 0px;
}

#popup-content {
    width: 300px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    position: relative;
    background-color: #eeeeee;
    color: #000000;
}

#tabs-section {
    padding: 5px;
    padding-bottom: 0px;
    background-color: transparent;
    overflow: visible;
}

#tabs-section > .tab, .button {
    border-radius: 5px;
    border: 0px solid transparent;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    background-color: #ffffff;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.button {
    width: auto;
}

#tabs-section > .tab:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#tabs-section > .tab:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#tabs-section > .tab:hover {
    background-color: #dddddd;
}

#tabs-section > .tab:active, #tabs-section > .tab:focus, #notes-section > #notes:focus, .button:active, .button:focus, textarea:focus, textarea:active {
    box-shadow: 0px 0px 0px 2px #ff5757, 0px 0px 0px 5px #fcb1b1;
    border-radius: 5px;
    z-index: 2;
}

#tabs-section > .tab-sel, .button {
    background-color: #ff5757;
    color: #ffffff;
}

#tabs-section > .tab-sel:hover, .button:hover {
    background-color: #ff4343;
}

#all-notes-button {
    width: 100%;
}

#notes-section, #all-notes-section {
    padding: 5px;
    background-color: transparent;
}

#notes-section > #notes, textarea {
    width: 100%;
    height: 300px;
    border: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    resize: none;
    margin: 0px;
    padding: 5px;
    font-size: 14px;
    overflow: auto;
}

#last-updated-section {
    padding: 5px;
    padding-top: 0px;
    background-color: transparent;
}

#all-notes-dedication-section {
    background-color: #eeeeee;
    padding: 5px;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.section, .sub-section, .section-empty {
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.section-empty {
    padding: 50px;
    text-align: center;
    color: #ff4343;
}

.sticky-section {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 4;
}

.sub-section {
    background-color: #eeeeee;
    padding: 10px;
}

.sub-section-type {
    background-color: #ff5757;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    font-family: open-sans;
    font-size: 10px;
    min-width: 50px;
    display: inline-block;
    text-align: center;
    height: 25px;
}

.sub-section-notes {
    margin-top: 10px;
    padding: 10px;
    background-color: #e5e5e5;
}

.sub-section-notes:hover {
    background-color: #f0e5e5;
}

.sub-section-last-update {
    padding: 5px;
    font-size: 12px;
    font-style: italic;
    color: #ff4343;
}

#background-opacity {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: 0.5s;
    display: none;
    z-index: 100;
    border-radius: 0px;
}

#import-section, #export-section {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

.background-transparent {
    background-color: transparent;
}

.background-light-red {
    background-color: #ff8e8e;
}

.button-code {
    background-color: rgba(255, 87, 87, 0.27);
    border-radius: 5px;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
}

.small-button {
    font-size: 12px;
    height: 27px;
}

.very-small-button {
    font-size: 10px;
    height: 25px;
}

h1, h2, h3 {
    color: #ff4343;
    font-size: 30px;
    font-family: open-sans-bold;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    display: inline-block;
}

h2 {
    color: #ff5757;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    font-family: open-sans;
    height: 35px;
}

h3 {
    color: #ff5757;
    font-size: 14px;
    padding: 3px;
    font-family: open-sans;
    height: 25px;
}

.go-to-external {
    transition: 0.5s;
}

.go-to-external:hover::after {
    content: url('../img/open-external.svg');
    margin-left: 5px;
}

.section-selected {
    background-color: #ffe5e5;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.bold, strong {
    font-family: open-sans-bold;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-right-5-px {
    margin-right: 5px;
}

.margin-left-5-px {
    margin-left: 5px;
}

.margin-top-5-px {
    margin-top: 5px;
}

.textarea-all-notes {
    max-height: 200px;
    background-color: transparent;
    border: 1px solid #ff4343;
}