@font-face {
    font-family: open-sans;
    src: url("../font/opensans.ttf");
}

@font-face {
    font-family: open-sans-bold;
    src: url("../font/opensansbold.ttf");
}

:root {
    --primary-color: #ff6200;
    --hover-color: #ff873e;
    --secondary-color: #ffb788;
    --tertiary-color: #ffccac;
    --on-primary-color: #ffffff;
    --on-secondary-color: #ffffff;
}


* {
    overflow: hidden;
    box-sizing: border-box;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    scrollbar-color: var(--primary-color) transparent;
    scrollbar-width: thin;
    outline: 0px solid transparent;
    border-radius: 5px;
}

body {
    background-color: transparent;
    color: black;
    width: auto;
    height: auto;
    font-family: open-sans, sans-serif;
    margin: 0px;
    padding: 0px;
}

#popup-content {
    width: 300px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    position: relative;
    background-color: #eeeeee;
    color: #000000;
}

#tabs-section {
    padding: 5px;
    padding-bottom: 0px;
    background-color: transparent;
    overflow: visible;
}

#tabs-section > .tab, .button {
    border-radius: 5px;
    border: 0px solid transparent;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    background-color: #ffffff;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.clear-button, .refresh-button, .import-button, .copy-button, .export-button, .tag-button, .save-button, .sort-by-button, .filter-button, .translate-button, .settings-button {
    padding-left: 30px;
    background-image: url("../img/delete.svg");
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #ffffff;
    margin: 2px;
}

.button-trigger-sticky {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../img/sticky-open.svg");
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    margin: 2px;
    z-index: 5;
}

.select-box {
    padding: 5px;
    color: var(--primary-color);
    box-sizing: border-box;
    font-size: 14px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: auto;
    font-family: open-sans, sans-serif;
    background-color: var(--on-primary-color);
    transition: 0.5s;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.select-box:hover {
    background-color: var(--tertiary-color);
}

.save-button {
    background-image: url("../img/save.svg");
}

.refresh-button {
    background-image: url("../img/refresh.svg");
}

.import-button {
    background-image: url("../img/import.svg");
}

.export-button {
    background-image: url("../img/export.svg");
}

.copy-button {
    background-image: url("../img/copy.svg");
}

.tag-button {
    background-image: url("../img/tag.svg");
}

.sort-by-button {
    background-image: url("../img/sort-by.svg");
}

.filter-button {
    background-image: url("../img/filter.svg");
}

.translate-button {
    background-image: url("../img/globe.svg");
}

.settings-button {
    background-image: url("../img/settings.svg");
}

#tag-colour-section {
    border-radius: 0px;
}

.button {
    width: auto;
}

#tabs-section > .tab:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#tabs-section > .tab:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#tabs-section > .tab:hover {
    background-color: #dddddd;
}

#tabs-section > .tab:active, #tabs-section > .tab:focus, #notes-section > #notes:focus, .button:active, .button:focus, textarea:focus, textarea:active, .textbox:focus, .textbox:active {
    box-shadow: 0px 0px 0px 2px var(--primary-color), 0px 0px 0px 5px var(--secondary-color);
    border-radius: 5px;
    z-index: 2;
    transition: 0.5s;
}

#tabs-section > .tab-sel, .button {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

#tabs-section > .tab-sel:hover, .button:hover {
    background-color: var(--hover-color);
}


#all-notes-button {
    width: 100%;
}

#notes-section, #all-notes-section {
    padding: 5px;
    background-color: transparent;
}

#notes-section > #notes, textarea, .textbox {
    width: 100%;
    height: 300px;
    border: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    resize: none;
    margin: 0px;
    padding: 5px;
    font-size: 14px;
    overflow: auto;
}

textarea::placeholder, .textbox::placeholder {
    color: var(--primary-color);
}


.textbox {
    width: auto;
    height: auto;
    border: 1px solid var(--primary-color);
}

#search-all-notes-text {
    width: 30%;
    min-width: 200px;
    margin: 1px;
}

#last-updated-section {
    padding: 5px;
    padding-top: 0px;
    background-color: transparent;
}

#all-notes-dedication-section, #settings-dedication-section {
    background-color: #eeeeee;
    padding: 5px;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    overflow: auto;
}

@media screen and (max-width: 2000px) {
    #all-notes-dedication-section, #settings-dedication-section {
        width: 80%;
    }
}

@media screen and (max-width: 1500px) {
    #all-notes-dedication-section, #settings-dedication-section {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    #all-notes-dedication-section, #settings-dedication-section {
        width: 100%;
    }
}

.settings-section-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: inherit;
}

.settings-section-grid-column {

}

.section, .sub-section, .section-empty {
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.detailed-option {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

.url-small {
    font-style: italic;
    text-decoration: underline;
    font-size: inherit;
}

.section-empty {
    padding: 50px;
    text-align: center;
    color: var(--primary-color);
}

.sticky-section {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 4;
}

.sub-section {
    background-color: #eeeeee;
    padding: 10px;
}

.sub-section:nth-child(even) {
    background-color: #d0d0d0;
}

.sub-section-type {
    background-color: var(--on-primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    font-family: open-sans;
    font-size: 10px;
    min-width: 50px;
    display: inline-block;
    text-align: center;
    height: 25px;
}

.sub-section-notes {
    margin-top: 10px;
    /*
    padding: 10px;
    background-color: #e5e5e5;
    */
}

.sub-section-notes:hover {
    background-color: var(--tertiary-color);
}

.sub-section-last-update {
    padding: 5px;
    font-size: 12px;
    font-style: italic;
    color: var(--primary-color);
}

#background-opacity {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: 0.5s;
    display: none;
    z-index: 100;
    border-radius: 0px;
}

#import-section, #export-section {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

.background-transparent {
    background-color: transparent;
}

.background-light-red {
    background-color: #ff8e8e;
}

.button-code {
    background-color: rgba(255, 87, 87, 0.27);
    border-radius: 5px;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
}

.small-button {
    font-size: 12px;
    height: 27px;
}

.very-small-button {
    font-size: 10px;
    height: 25px;
}

h1, h2, h3 {
    color: var(--primary-color);
    font-size: 30px;
    font-family: open-sans-bold;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    display: inline-block;
}

h2 {
    color: var(--primary-color);
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    font-family: open-sans;
    height: 35px;
}

h3 {
    color: var(--primary-color);
    font-size: 14px;
    padding: 3px;
    font-family: open-sans;
    height: 25px;
}

.go-to-external {
    transition: 0.5s;
}

.go-to-external:hover::after {
    content: url('../img/open-external.svg');
    margin-left: 5px;
}

.section-selected {
    background-color: var(--tertiary-color);
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.bold, strong {
    font-family: open-sans-bold;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-right-5-px {
    margin-right: 5px;
}

.margin-left-5-px {
    margin-left: 5px;
}

.margin-top-5-px {
    margin-top: 5px;
}

.textarea-all-notes {
    max-height: 200px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
}


.tag-colour-left {
    border: 0px solid transparent;
    border-left-width: 15px;
    border-style: solid;
}

.tag-colour-top {
    border: 0px solid transparent;
    border-top-width: 10px;
    border-style: solid;
}

.filter-button-tag {
    margin: 2px;
}

.tag-colour-none {
    border: none;
}

.tag-colour-none-bg {
    /*background-color: transparent;*/
}

.tag-colour-red {
    border-color: red;
}

.tag-colour-red-bg {
    background-color: red;
}

.tag-colour-yellow {
    border-color: yellow;
}

.tag-colour-yellow-bg {
    background-color: yellow;
}

.tag-colour-green {
    border-color: green;
}

.tag-colour-green-bg {
    background-color: green;
}

.tag-colour-gray {
    border-color: gray;
}

.tag-colour-gray-bg {
    background-color: gray;
}

.tag-colour-purple {
    border-color: purple;
}

.tag-colour-purple-bg {
    background-color: purple;
}

.tag-colour-pink {
    border-color: pink;
}

.tag-colour-pink-bg {
    background-color: pink;
}

.tag-colour-black {
    border-color: black;
}

.tag-colour-black-bg {
    background-color: black;
}

.tag-colour-white {
    border-color: white;
}

.tag-colour-white-bg {
    background-color: white;
}

.tag-colour-orange {
    border-color: orange;
}

.tag-colour-orange-bg {
    background-color: orange;
}

.tag-colour-blue {
    border-color: blue;
}

.tag-colour-blue-bg {
    background-color: blue;
}

.padding-25px-lateral {
    padding-left: 25px;
    padding-right: 25px;
}

.hidden {
    display: none;
}
